<div class="background-star">
  <div class="container display-body">
    <div class="card-create-spaceship">
      <div class="content-create-spaceship">
        <h1>Create a new Spaceship:</h1>
        <%= simple_form_for @spaceship do |f| %>
          <%= f.input :name %>
          <%= f.input :price %>
          <%= f.input :capacity %>
          <%= f.button :submit %>
        <% end %>
      </div>
    </div>
  </div>
</div>
