<div class="background-star">
  <div class="container display-body">
    <div class="grid-show">
      <div class="card-info">
        <h1><%= @spaceship.name %></h1>
        <p>Price: € <%= @spaceship.price %></p>
        <p>Capacity: <%= @spaceship.capacity %></p>
      </div>

      <div class="card-form">
        <h2 class="form-h2">Do a reservation:</h2>
        <%= simple_form_for [@spaceship, @reservation] do |f| %>
          <%= f.input :start_date, as: :date, html5: true %>
          <%= f.input :end_date, as: :date, html5: true %>
          <%= f.input :total_guests %>
          <%= f.button :submit, class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
