

  <div class="grid-show">
    <div>
      <h1>THE SPACESHIP</h1>
      <p>Name: <%= @spaceship.name %></p>
      <p>Price: € <%= @spaceship.price %></p>
      <p>Capacity: <%= @spaceship.capacity %></p>
    </div>

    <div>
      <h2 class="form-h2">Do a reservation:</h2>
      <%= simple_form_for [@spaceship, @reservation] do |f| %>
        <%= f.input :start_date, as: :date, html5: true %>
        <%= f.input :end_date, as: :date, html5: true %>
        <%= f.input :total_guests %>
        <%= f.button :submit, class: "btn btn-back" %>
      <% end %>
    </div>
  </div>
