<div class="container">
  <h1>THE SPACESHIP</h1>
  <p>Name: <%= @spaceship.name %></p>
  <p>Price: € <%= @spaceship.price %></p>
  <p>Capacity: <%= @spaceship.capacity %></p>

  <h2 class="form-h2">Create a new bookmark:</h2>
  <%= simple_form_for [@spaceship, @reservation] do |f| %>
    <%= f.input :start_date, as: :date, html5: true %>
    <%= f.input :end_date, as: :date, html5: true %>
    <%= f.input :total_guests %>
    <%= f.button :submit, class: "btn btn-back" %>
  <% end %>
</div>

</div>
