<div class="grid-show">
  <div class="card-spaceship">
    <%= cl_image_tag @spaceship.photo.key, class:"card-img", alt:"Spaceship-img" %>
    <div class="card-details">
      <h1><%= @spaceship.name %></h1>
      <p><strong>€<%= @spaceship.price %></strong> day | Capacity: <%= @spaceship.capacity %></p>
    </div>
  </div>

  <% if @spaceship.user_id == @user.id %>
    <div>
      <h1> This is your spaceship! </h1>
    </div>
  <% else %>
    <div class="card-form">
      <h2 class="form-h2">Do a reservation:</h2>
      <%= simple_form_for [@spaceship, @reservation] do |f| %>
        <%= f.input :start_date, as: :date, html5: true %>
        <%= f.input :end_date, as: :date, html5: true %>
        <%= f.input :total_guests %>
        <%= f.button :submit, class: "btn btn-primary" %>
      <% end %>
    </div>
  <% end %>
</div>
