<% if @spaceships.empty? && @reservations.empty? %>
      <p>No reservations or spaceships.</p>
      
  <% elsif @spaceships.empty? %>
    <h1> Hello! Here are your reservations: </h1>
      <div class="container display-body">
        <div class="grid-four-col">
          <% @reservations.each do |reservation| %>
            <% spaceship = reservation.spaceship %>
              <h5> <%= spaceship.name %> </h5>
                <p> Cost: $<%= reservation.price %> </p>
         <% end %>
        </div>
      </div>

   <% elsif @spaceships.empty? == false && @reservations.empty? %>
    <p> Your spaceships: </p>
     <% @spaceships.each do | spaceship | %>
      <%= spaceship.name %>
     <% end %>

  <% elsif @spaceships.empty? == false && @reservations.empty? == false %>
        <h1> Here are your spaceships and guest bookings: </h1>
          <% @spaceships.each do |spaceship| %>
          <%= spaceship.name %>
            <% @reservations_all.each do |reservation| %>
              <% if reservation.spaceship_id == spaceship.id %>
                <% space_user_id = reservation.user_id %>
                <% res_user = User.find(space_user_id) %>
                  <%= res_user.name %>
                    <p> Your guest's reservation price: <%= reservation.price %> </p>
                  <% raise %>
              <% end %>
            <% end %>
          <% end %>

        <h1> Here are your personal bookings: </h1>
          <% @reservations.each do |reservation| %>
            <% spaceship = reservation.spaceship %>
              <h5> <%= spaceship.name %> </h5>
              <p> Cost to you: $<%= spaceship.price %> </p>
          <% end %>
<% end %>
